@media screen and (min-width: 600px) {
    .home-grid {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #filter-box {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}

@media screen and (min-width: 900px) {
    .ham-button {
        display: none;
      
    }

    nav {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 500px;
        justify-content: space-around;
    }

    nav a {
        color: var(--black);
    }

    nav a:hover{
        background-color: var(--white);
        color: var(--red);
        padding: 25px;
        text-decoration: underline;
     }
     
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (min-width: 641px) {
    .discover-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .card img:hover {
      transform: scale(1.05);
    }
  }
  
  @media (min-width: 1025px) {
    .discover-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }