:root {
    --red: #CF0921;
    --white: #fff;
    --black: #000;
    --header-font: "Croissant One", cursive, "Rock Salt";
    --body-font: Mooli, sans-serif, Arial;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    color: var(--white);
    font-family: var(--header-font);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    background: var(--red);
    padding: 10px;
    border-radius: 8px;
}

header img {
    width: 50px;
    margin: 5px;
    border-radius: 15px;
}

header span {
    font-size: 1.5rem;
    font-weight: 600;
}


nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--red);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}
nav.active {
    display: flex;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 1rem 0;
    font-family: var(--header-font);
    font-weight: bold;
    color: black;
    font-size: larger;
}
nav a:hover {
    background-color: var(--white);
    color: var(--red);
    text-decoration: underline;
    transition: 0.5s;
}


.ham-button {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 1;
    margin: 1rem;
}

.ham-button span {
    top: 50%;
    height: 5px;
    width: 100%;
    background-color: var(--black);
    margin: 1px;
    position: absolute;
    transition: .3s ease;
}

.ham-button span:nth-child(1) {
    top: 25%;
}

.ham-button span:nth-child(3) {
    top: 75%;
}

.ham-button.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.ham-button.active span:nth-child(2) {
    opacity: 0;
}

.ham-button.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}
  
body {
    font-family: var(--body-font);
    background-color: #f4f4f4;
    color: var(--black);
}
.membership-container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: var(--red);
    color: var(--white);
    font-family: var(--header-font);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--black);
}

.membership-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 23%;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



button {
    background-color: var(--red);
    color: var(--white);
    font-family: var(--header-font);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--black);
}
.cta-button {
    position: absolute;
    right: 20px;
    transform: translateX(-50%);
    padding: 15px 30px;
    background-color: var(--black);
    color: var(--red);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    font-family: var(--header-font);
}
.cta-button:hover {
    background-color: var(--white);
    text-decoration: underline;
}
footer {
    background-color: var(--red);
    color: white;
    padding: 1rem;
    font-family: var(--header-font);
    text-align: center;
    font-size: larger;
}